services:

    database:
        image: postgres:16.1
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            PGDATA: /data/postgres
            POSTGRES_DB: measdb
        volumes:
            - postgres:/data/postgres
        ports:
            - 5432:5432
        restart: unless-stopped
        networks:
            - app-network

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        restart: unless-stopped
        ports:
            - 8280:8280
        environment:
            - QUARKUS_DATASOURCE_REACTIVE_URL=vertx-reactive:postgresql://database:5432/measdb
            - QUARKUS_DATASOURCE_USERNAME=postgres
            - QUARKUS_DATASOURCE_PASSWORD=postgres
        depends_on:
            - database
        networks:
            - app-network

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        restart: unless-stopped
        ports:
            - 3000:80
        depends_on:
            - backend
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    postgres:
